### [Docker, Spark, and Iceberg: The Fastest Way to Try Iceberg!](https://tabular.io/blog/docker-spark-and-iceberg/)

In [1]:
import os
import duckdb
import numpy as np
from pyspark.sql.functions import pandas_udf
import pandas as pd
from urllib.request import urlretrieve
import gc

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

In [3]:
SparkSession.builder.master("local[*]").getOrCreate().stop()

conf = (
    SparkConf()
    .setAppName('TestJupyter')
    .set("spark.sql.catalog.demo.s3.access-key-id", "minio")
    .set("spark.sql.catalog.demo.s3.secret-access-key", "password123")
)
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# spark.sparkContext.getConf().getAll()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/19 21:43:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/19 21:43:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/05/19 21:43:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
DATABASE = "streamflow"
PRIMARY_TABLE = "primary"
SECONDARY_TABLE = "secondary"
CROSSWALK_TABLE = "crosswalk"
JOINED_TABLE = "joined"

In [5]:
spark.sql(f"CREATE DATABASE IF NOT EXISTS {DATABASE};")

DataFrame[]

In [6]:
spark.sql(f"""
DROP TABLE IF EXISTS {DATABASE}.{PRIMARY_TABLE};
""")

DataFrame[]

In [7]:
spark.sql(f"""
DROP TABLE IF EXISTS {DATABASE}.{SECONDARY_TABLE};
""")

DataFrame[]

In [8]:
spark.sql(f"""
DROP TABLE IF EXISTS {DATABASE}.{CROSSWALK_TABLE};
""")

DataFrame[]

In [9]:
spark.sql(f"""
DROP TABLE IF EXISTS {DATABASE}.{JOINED_TABLE};
""")

DataFrame[]

In [10]:
spark.sql(f"""
CREATE TABLE IF NOT EXISTS {DATABASE}.{PRIMARY_TABLE} (
    reference_time        timestamp,
    value_time            timestamp,
    value                 double,
    measurement_unit      string,
    variable_name         string,
    configuration         string,
    location_id           string
)
USING iceberg
PARTITIONED BY (configuration, variable_name);
""")

DataFrame[]

In [11]:
spark.sql(f"""
CREATE TABLE IF NOT EXISTS {DATABASE}.{SECONDARY_TABLE} (
    reference_time        timestamp,
    value_time            timestamp,
    value                 double,
    measurement_unit      string,
    variable_name         string,
    configuration         string,
    location_id           string
)
USING iceberg
PARTITIONED BY (configuration, variable_name);
""")

DataFrame[]

In [12]:
spark.sql(f"""
CREATE TABLE IF NOT EXISTS {DATABASE}.{CROSSWALK_TABLE} (
    primary_location_id string,
    secondary_location_id string
)
USING iceberg;
""")

DataFrame[]

In [13]:
spark.sql(f"""
CREATE TABLE IF NOT EXISTS {DATABASE}.{JOINED_TABLE} (
    reference_time        timestamp,
    value_time            timestamp,
    measurement_unit      string,
    variable_name         string,
    configuration         string,
    primary_value                      double,
    primary_location_id                string,
    secondary_value                    double,
    secondary_location_id              string
)
USING iceberg
PARTITIONED BY (configuration, variable_name);
""")

DataFrame[]

In [14]:
spark.sql(f"""
TRUNCATE TABLE {DATABASE}.{PRIMARY_TABLE};
""")

DataFrame[]

In [15]:
spark.sql(f"""
TRUNCATE TABLE {DATABASE}.{SECONDARY_TABLE};
""")

DataFrame[]

In [16]:
spark.sql(f"""
TRUNCATE TABLE {DATABASE}.{CROSSWALK_TABLE};
""")

DataFrame[]

In [18]:
spark.sql(f"""
TRUNCATE TABLE {DATABASE}.{JOINED_TABLE};
""")

DataFrame[]